body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wotfard', sans-serif;
    scroll-behavior: smooth;
}

.container{

    background-color: white;
}

.topo{
    height: 100vh;
    background-color: var(--base);
}

.separador-medio{
    height: 60px;
}

::selection{
    background-color: var(--base);
    color: white;
 }


 /* assets/css/variables.css */

/* Telas muito grandes (1920px+) */
