body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wotfard', sans-serif;
    scroll-behavior: smooth;
}

.container{

    background-color: white;
}

.topo{
    height: 100vh;
    background-color: var(--base);
}

.separador-medio{
    height: 60px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container{
        max-width: 1400px;
    }
}
