/* ═══════════════════════════════════════════════════════════
   📐 LAYOUT ESCOPADO
   ═══════════════════════════════════════════════════════════ */



.lesson-content-wrapper .container {
    background-color: white;
}

.lesson-content-wrapper .topo {
    height: 100vh;
    background-color: var(--base);
}

.lesson-content-wrapper .separador-medio {
    height: 60px;
}

.lesson-content-wrapper ::selection {
    background-color: var(--orange-white3);
    color: var(--orange-white);
}

