/* ═══════════════════════════════════════════════════════════
   🌐 RESET GLOBAL
   ═══════════════════════════════════════════════════════════ */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

:root {
    cursor: none;
  }
  
  *, *::before, *::after {
    cursor: inherit;
  }

*::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
    cursor: none!important;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


